<!-- showing the hero -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button">
            <span class="badge">{{ hero.id }}</span>
            <span class="name">{{ hero.name }}</span>
        </button>
    </li>
</ul>


<h2>{{ hero.name | uppercase }} Details</h2>
<p><span>id:</span> {{ hero.id }}</p>

<!-- edit the hero -->
<div>
    <label for="name">Hero name:</label>
    <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>